

<main role="main" class="list">
  <h1 class="text-muted title">Welcome - Where Data meets AI guide comoponent</h1>


<div class="animated fadeIn">
  <!-- <formly-form [model]="model" [fields]="fieldsTable" [options]="options" [form]="form">
  </formly-form>  -->

  <form [formGroup]="form" class="py-3">
    <formly-form [model]="modelTable" [fields]="fieldsTable" [options]="options" [form]="form">
    </formly-form>
  </form>

  <div class="row">
    <div class="col-12">
      <button (click)="goToNewDataForm()" class="btn btn-primary px-12 float-right">Add</button>
    </div>
  </div>
</div>

</main>