

  <h1 >Welcome to ConnectIQ - Where Data meets AI</h1>


 <kendo-combobox  class="form-control field-dropdown" 
        [data]="field.templateOptions.options ? field.templateOptions.options : []" [filterable]="true" [textField]="'title'"
        [valueField]="'value'" (valueChange)="onSelect($event)" (filterChange)="changeFilter($event)" [formControl]="formControl" 
        [formlyAttributes]="field">
</kendo-combobox>

<!-- <kendo-multiselect  class="form-control field-dropdown" 
        [data]="field.templateOptions.options ? field.templateOptions.options : []" [filterable]="true" [textField]="'title'"
        [valueField]="'value'" (valueChange)="onSelect($event)" (filterChange)="changeFilter($event)" [formControl]="formControl" 
        [formlyAttributes]="field" [value]="field.templateOptions.value">
</kendo-multiselect>  -->