<p>rules-layout works!</p>
<div class="rules-layout">


    <kendo-splitter>
        <kendo-splitter-pane size="33%">
          <div class="pane-content">
          
          </div>
        </kendo-splitter-pane>
<!--   app-function-tabs
        <kendo-splitter-pane size="34%">
          <div class="pane-content">
            <app-rules></app-rules>
          </div>
        </kendo-splitter-pane>
  
        <kendo-splitter-pane>
          <div class="pane-content">
            <app-rule-properties (okClickEvent)="okClickEvent()"></app-rule-properties>
          </div>
        </kendo-splitter-pane> -->
        
      </kendo-splitter>

</div>