/* You can add global styles to this file, and also import other style files */
@import "~angular-tree-component/dist/angular-tree-component.css";

body {
    background-color: #eee !important;
}

.btn-primary {
    background-color: #92c94d !important;
    border-color: #92c94d !important;
}

.app {
    overflow: auto;
    height: 100%;
}

.filter-modal .modal-dialog {
    right: 12%;
}

.masking-modal .modal-dialog {
    width: 150% !important;
}

.decorationsOverviewRuler {
    display: none !important;
}

.k-splitbar:active, .k-splitbar.k-state-focused {
    color: #fff;
    background: #17a2b8 !important;
}

.k-tabstrip-top>.k-tabstrip-items .k-item.k-state-active {
    border-bottom: 3px solid #17a2b8 !important;
    color: #17a2b8 !important;
    border-left: none;
    border-right: none;
    border-top: none;
}

.k-tabstrip>.k-content.k-state-active {
    display: block;
    border: none;
}

.k-tabstrip-items .k-item {
    color: gray !important;
    width: 50%;
    font-size: 1.2rem;
}

.k-tabstrip-top>.k-tabstrip-items {
    border: none;
}

.k-grid tr {
    color: #124b5e;
    font-weight: 300;
    font-size: 16px;
}

.custom-add-button {
    vertical-align: middle !important;
    background: #92c94d !important;
    color: white !important;
    border-radius: 86px !important;
    height: 57px !important;
    width: 57px !important;
    font-size: 28px !important;
}

.k-pager-numbers .k-link.k-state-selected {
    border-color: #92c94d;
    color: #fff !important;
    background-color: #92c94d !important;
}

.edit {
    color: #000 !important;
    width: 5rem !important;
    margin-right: 1.5rem !important;
    background-color: #d3d3d3 !important;
}

.k-pager-numbers .k-link {
    color: #92c94d !important;
}

.k-list .k-item.k-state-selected, .k-list-optionlabel.k-state-selected {
    color: #fff;
    background-color: #92c94d !important;
}



.k-link {
    font-weight: 300;
    padding: 12px !important;
}

.k-tabstrip>.k-content.k-state-active {
    margin-right: 1rem !important;
}

.functions .k-icon {
    font-size: 2rem !important;
    color: #17a2b8 !important;
}

.k-in {
    width: 100% !important;
}

.rules .k-in.k-state-hover,
.rules .k-in.k-state-focused,
.rules .k-in.k-state-selected {
    border-color:#17a2b8 !important;
    background-color:#17a2b8 !important;
}

.info-tooltip * {
    background-color: #007bff !important;

}

.info-tooltip .k-callout {
    color: #007bff !important;
    background-color: transparent !important;
    
}

.k-tooltip {
    max-width: 500px;
    /* or */
    white-space: normal;
}

.rules .k-in {
    width: auto !important;
}
