<main role="main" class="guide">
  <h1 class="text-muted title ml-3">Welcome to Cyprus</h1>





  <div class="map-container mt-5">
    <div class="map-frame">
      <div style="height: 800px" 
      id="map" 
      leaflet 

     
      (leafletMapReady)="onMapReady($event)">
      </div>


      <button *ngIf="!playing" (mousedown)="play()">Play</button>
      <button *ngIf="playing" (mousedown)="stop()">Stop</button>

      <div *ngIf="playing">
        Checking date: {{playerDate}}
      </div>

    </div>
  </div>




</main>


<!-- <div
id="mapid"
  leaflet
  style="height: 800px"
  [leafletLayers]="options.layers"
  [leafletOptions]="options"
 
></div> -->

<!-- <div id="weathermap"></div> -->

<!--  (leafletMapReady)="onMapReady($event) -->


<!-- <button *ngIf="!playing" (mousedown)="play()">Play</button>
<button *ngIf="playing" (mousedown)="stop()">Stop</button> -->